<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdowns</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-slate-100 text-slate-800 dark:bg-slate-900 dark:text-slate-100">

    <section class="container mx-auto max-w-screen-lg p-4">

            <h1 class="text-3xl text-center">Dropdowns</h1>

            <div data-type="dropdown" class="relative inline-block">
                <button class="rounded border-2 border-blue-500 bg-blue-500 px-4 text-slate-100 py-1
                 hover:border-blue-600 hover:bg-blue-600 outline-none focus:ring focus:ring-blue-300
                  transition-colors">
                    Dropdown button
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                      </svg>
                </button>
                <ul class="absolute border border-slate-300 mt-2 w-full rounded py-1 bg-slate-200
                 dark:border-slate-700 dark:bg-slate-800 dark:text-slate-300 opacity-0 transition-opacity">
                    <li><a class="w-full inline-block px-4 py-1 hover:bg-slate-400 dark:hover:bg-slate-900" href="#">Action</a></li>
                    <li><a class="w-full inline-block px-4 py-1 hover:bg-slate-400 dark:hover:bg-slate-900" href="#">Action</a></li>
                    <li><hr class="my-1 border-slate-300 dark:border-slate-700"></li>
                    <li><h5 class="w-full inline-block px-4 py-1 text-slate-700 font-medium dark:text-slate-100 hover:bg-slate-400 dark:hover:bg-slate-900">header</h5></li>
                    <li><button class="w-full inline-block px-4 py-1 text-left hover:bg-slate-400 dark:hover:bg-slate-900">Other action</button></li>
                </ul>
            </div>
    </section>
    
    <script src="/src/js/components.js"></script>
    <script>
        new Dropdown()

    </script>
</body>
</html>